body {
    font-family: sans-serif;
    background-color: lightpink;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight:bolder;
}

.img-medium {
    height: 150px;
}

.c1{
    margin:0 auto;
    max-width: 500px;
    color:gray;
    font-family:san-serif;
           } 
.mydiv{
    font-family:san-serif;
    font:itaic;
    font-size:20px;
}